
@{
    ViewBag.Title = "Setup";
}

<h2>Setup</h2>
<p>Indtast din email</p>
<form action="/Login/Scan/" method="POST">
    <label for="email">E-Mail:</label>
    <input type="email" name="email" id="email"/>
    <br/>
    <input type="submit"/>
</form>
